body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#message {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: red;
}

#scanButton {
    background: red;
}

.container {
    text-align: center;
    padding-bottom: 50px; /* space above logo */
}

.logo-container {
    text-align: center;
    margin-top: 20px;     /* space between scanner and logo */
}

.logo-container img {
    width: 3000px;   /* adjust size */
    height: auto;
}